@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i);

html, body {	
	height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
	background-color: #999;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.625;
}

/* 
    Custom CSS
*/
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*
|----------------------------------------------------------------------------
	3. COMMON CSS
|----------------------------------------------------------------------------
*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}
.h2, h2 {
    font-size: 36px;
}
.h3, h3 {
    font-size: 28px;
}
.title-box h2 {
    font-size: 42px;
	text-transform: uppercase;
	margin: 50px 0 5px;
}
.title-box h3 {
	margin: 0 0 10px;
}
a {
    color: #fff;
}
a:hover {
    color: #fd5308;
}
p {
    margin: 0 0 30px;
}
.logo {
    margin: 0 auto;
    max-width: 198px;
    max-height: 24px;
    padding: 0 15px;
    width: 100%;
}
.overlay-content {
	background-color: rgba(0, 0, 0, 0.6);
	/* background-image: url(../images/bg.png); */
    display: table;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    color: #fff;
    display: table-cell;
	padding: 50px 0;
	vertical-align: middle;
}
.title-box::before {
    background: #fd5308;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    margin: 0 0 -2px;
    position: absolute;
    width: 40px;
}
.title-box {
    border-bottom: 2px solid #fff;
    margin: 0 0 50px;
    position: relative;
}
.content-inner > p {
    margin: 0 0 20px;
}

/*
|----------------------------------------------------------------------------
	4. Main front landing page
|----------------------------------------------------------------------------
*/
#Main.overlay.slide-up {
	-webkit-transform:translateY(-100%);
    -moz-transform:translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
	transform: translateY(-100%);
}
#Main.overlay.slide-dowun {
	-webkit-transform:translateY(100%);
    -moz-transform:translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
	transform: translateY(100%);
}
#Main.overlay.slide-right {
	-webkit-transform:translateX(100%);
    -moz-transform:translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
	transform: translateX(100%);
}
#Main.overlay.slide-left {
	-webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
	transform: translateX(-100%)
}
#Main.overlay {
	background-attachment: fixed;
	background-size:  cover;
	background-image: url(../images/bg.png);
	background-position: center center;
	background-repeat:  no-repeat;
	text-align: center;
	-webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
	transform: translateX(0);	
}
.coming-soon-text h1 {
    color: #fd5308;
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 30px;
	text-transform: uppercase;
}
.coming-soon-text h4 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px;
}
.coming-soon-count {
    margin: 0 0 30px;
}
.is-countdown {
	background: none;
}
.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}
.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown-section::before {
	border-color: #fd5308;
    border-radius: 20px 0;
    border-style: solid;
    border-width: 1px 5px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100%;
}
.countdown-section:first-child::before, .countdown-section:last-child::before {
    border-width: 0 5px;
}
.coming-soon-text {
    margin: 50px 0 30px;
}
.countdown-section {
    border-radius: 5px;
    display: inline-block;
    height: 100px;
    margin: 15px 17px;
    padding: 14px 0;
	position: relative;
    width: 100px;
}
.countdown-section > span {
    position: relative;
    z-index: 2;
}
.countdown-amount { 
	font-size: 36px;
	font-weight: bold;
    line-height: 1.1;
}
.countdown-period {
    font-size: 18px;
    display: block;
}

/*
|----------------------------------------------------------------------------
	9. Overlay
|----------------------------------------------------------------------------
*/
.overlay {
    background-color: rgba(0,0,0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
	-webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}
.overlay a.closebtn {
	color: #fff;
    text-decoration: none;
	-webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.overlay a.closebtn:hover, .overlay a.closebtn:focus {
    color: #fd5308;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
	z-index: 99999;
}

/*
|----------------------------------------------------------------------------
	10. SOCIAL
|----------------------------------------------------------------------------
*/
.social-holder {
	position: relative;
	margin: 0 0 50px;
}
.social-holder > p {
    font-size: 18px;
    line-height: 1;
	font-weight: bold;
    padding-bottom: 20px;
}
.social-holder > p, .list-social {
    margin: 0;
    text-align: center;
}
.social-holder .list-inline.list-social > li {
    padding-left: 5px;
    padding-right: 5px;
}
.social-icon {
	border-style: solid;
	border-width: 1px;	
	border-radius: 6px 0;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    margin: 0;
    overflow: hidden;
    text-align: center;
    width: 28px;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;	
	transition: all ease 0.5s;
}
.social-icon:hover {
    border-color: transparent;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
	color: #fff;
	-webkit-transform:rotateY(360deg);
	-moz-transform:rotateY(360deg);
	-o-transform:rotateY(360deg);
	-ms-transform:rotateY(360deg);
	transform:rotateY(360deg);
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;	
	transition: all ease 0.5s;
}
.social-icon-facebook:hover {
    background-color: #3b5998;
}
.social-icon-twitter:hover {
    background-color: #00acee;
}
.social-icon-gplus:hover {
    background-color: #dd4b39;
}
.social-icon-linkedin:hover {
    background-color: #0077b5;
}
.social-icon-vimeo:hover {
    background-color: #1ca7cc;
}
.social-icon-pinterest:hover {
    background-color: #cb2027;
}

/*
|----------------------------------------------------------------------------
	11. Button
|----------------------------------------------------------------------------
*/
.btn {
    overflow: hidden;
}
.btn-holder {
    margin: 0 0 30px;
}
.btn.btn-custom {
    margin: 0 5px;
    min-width: 140px;
}
.btn-custom {
    background-color: #fff;
	border: 1px solid #fd5308;
    box-shadow: 0 0 1px transparent;
	color: #000;
    display: inline-block;
	font-size:18px;
	padding: 6px 20px;
    position: relative;
	text-transform: capitalize;
    -webkit-transform: perspective(1px) translateZ(0px);
    -moz-transform: perspective(1px) translateZ(0px);
    -ms-transform: perspective(1px) translateZ(0px);
    -o-transform: perspective(1px) translateZ(0px);
    transform: perspective(1px) translateZ(0px);
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    vertical-align: middle;
}
.btn-custom::before {
    background-color: #fd5308;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
	-webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50% 50% 0;
	-moz-transform-origin: 50% 50% 0;	
	-ms-transform-origin: 50% 50% 0;	
	-o-transform-origin: 50% 50% 0;	
    transform-origin: 50% 50% 0;
	-webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    z-index: -1;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    border-color: #fd5308;
    color: #fff;
}
.btn-custom:hover::before, .btn-custom:focus::before, .btn-custom:active::before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
	transform: scaleX(1);
}
.btn-transparent {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.copyright {
    font-size: 14px;
    margin: 0;
}

#buy-now-fixed-box {			
	position: fixed;
	right: 0;
	bottom: 20px;
	z-index: 1;
}
#buy-now-fixed-box .btn-holder {
	margin: 0;
}
#buy-now-fixed-box .btn-holder .btn-lg {
    padding: 2px 10px;
    border-radius: 6px 0 0 6px;
}

/*
|----------------------------------------------------------------------------
	12. Responsive
|----------------------------------------------------------------------------
*/
@media screen and (max-width: 991px) {
	.service-item h3 {
		font-size: 24px;
	}
}
@media screen and (max-width: 767px) {
	.overlay .closebtn {
		font-size: 40px;
		right: 15px;
		top: 10px;
	}
	.coming-soon-text h1 {
		font-size: 48px;
	}
	.countdown-amount {
		font-size: 32px;
	}
	.countdown-period {
		font-size: 16px;
	}
	.countdown-section {
		height: 90px;
		margin: 30px 15px;
		padding: 12.5px 0;
		width: 90px;
	}
	.service-item h3 {
		font-size: 28px;
	}
}

@media screen and (max-width: 661px) {
	.logo-container-inner{
		display: none;
    }
    .logo-container-outer{
		display: block;
    }
    .content{
        padding: 25px 0;
    }
}	

@media screen and (min-width: 661px) {
	.logo-container-inner{
		display: block;
    }
    .logo-container-outer{
		display: none;
	}
}	

@media screen and (max-width: 667px) {
	.btn.btn-custom {
		margin: 0 5px 10px;
	}
}	
@media screen and (max-width: 568px) {			
	.countdown-section:first-child::before, .countdown-section:last-child::before {
		border-width: 1px 5px;
	}
	.countdown-section {
		margin: 10px 15px;
	}
	.service-item h3 {
		font-size: 24px;
	}
}
@media screen and (max-width: 480px) {
	.col-sm-4.col-xs-6 {
		width: 100%;
	}
}
@media screen and (max-width: 420px) {
	.coming-soon-text h1, .title-box h2 {
		font-size: 40px;
	}
	.countdown-section {
		height: 100px;
		margin: 12px 17px;
		padding: 20px 0;
		width: 100px;
	}
}
@media screen and (max-width: 340px) {
	.coming-soon-text h1, .title-box h2 {
		font-size: 32px;
	}
}