<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="keywords"
    content="sujan, sujan gainju, flutter developer, nepali flutter developer, flutter develoepr in nepal, freelancer, nepali freelancer, web developer, nepali web developer, nepali computer engineer, ionic developer in Nepal, JavaScipt developer Nepal, ionic developer, javascript developer, bitcoin api, Laravel Developer Nepal, Angular Developer Nepal, flutter developer in nepal, hybrid app developer">
    <meta name="author" content="Sujan Gainju">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>

    <section id="main_content">
      {{ content }}
    </section>

    {% include footer-custom.html %}

  </body>
</html>